.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Proceso Integral de Diseño de un Producto  
            h1.curso-titulo Portafolio y características del producto

            .brand-line-primary

            p.curso-descripcion El contenido de la presente unidad, permitirá reconocer los aspectos relacionados con los componentes de un portafolio de productos, como se clasifican los productos según su estado en el mercado, de igual forma los aspectos a tener en cuenta en el momento de presentar un informe de selección de una propuesta de diseño. 
            
            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")