h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 291501019-1
        p.mb-0 Planear la investigación de mercado, teniendo en cuenta sus necesidades y los requerimientos de diseño del cliente.


