.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

            
                tr
                    td Propuesta de un modelo de diseño de Nuevos productos.
                    td Tesis de Grado.
                    td 
                        a(href="media/documentos/complementarios/Informe.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   

                tr
                    td Diseño y Desarrollo de Productos.
                    td Articulo
                    td 
                        a(href="media/documentos/complementarios/Capitulo5_Diseño_y_desarrollo_de_productos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td ¿Cómo Medir la Complejidad de un Portafolio de Productos?
                    td Articulo revista
                    td 
                        a(href="https://zonalogistica.com/como-medir-la-complejidad-de-un-portafolio-de-productos/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver                                 