.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

                tr
                    td ¿Cómo medir la complejidad de un portafolio de productos?
                    td Artículo revista
                    td 
                        a(href="https://zonalogistica.com/como-medir-la-complejidad-de-un-portafolio-de-productos/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver     

                tr
                    td Diseño y desarrollo de productos.
                    td Artículo
                    td 
                        a(href="media/documentos/complementarios/Capitulo5_Diseno_y_desarrollo_de_productos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Propuesta de un modelo de diseño de nuevos productos.
                    td Tesis de grado.
                    td 
                        a(href="media/documentos/complementarios/Informe.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                       