.container

  ol

    li
      p 
        | López, Cruz, Fernando.</br>
        i Guía para elaborar el informe de auditoría independiente con base en Normas Internacionales de Auditoría, Instituto Mexicano de Contadores Públicos, 2016.
    li
      p 
        | Sorlozano Gonzalez, Maria Jose (2014).</br> 
        i Documentación e informes de Consumo. Andalucia, España. IC Editorial.    